name: Auto Update index.html

on:
  schedule:
    - cron: '*/15 15-23 * * *'  # Runs every 15 minutes from 3 PM (15:00) to 11 PM (23:59)
    - cron: '*/15 0 * * *'       # Runs every 15 minutes from 12 AM (00:00) to 1 AM (01:00)
    - cron: '*/15 2-14 * * *'       # Runs every 1 hour from 2 AM (02:00) to 2 PM (14:59)
  workflow_dispatch:  # Allows manual execution

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run Google Colab Notebook
        run: |
          curl -X POST -d '{}' "https://colab.research.google.com/drive/1RutlrgYrDI-VmSWCyiWrU8ukIOiw5Afo#scrollTo=bvrL-ob3scJ3"

      - name: Commit and Push Updated index.html
        run: |
          git config --global user.email "raparthimahesh5@gmail.com"
          git config --global user.name "MaheshMeru"
      
          git add index.html
          if git diff --cached --quiet; then
            echo "No changes detected, skipping commit."
            exit 0
          fi
      
          # Pull latest changes before pushing (to avoid rejected push)
          git pull --rebase origin main
      
          git commit -m "Auto-update index.html"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/MaheshMeru/Fantasy_Rankings2025.git main
  
