name: Auto Update & Deploy

on:
  schedule:
    - cron: "*/15 15-23 * * *"  # Every 15 mins from 3 PM to 11:59 PM
    - cron: "*/15 0-1 * * *"     # Every 15 mins from 12 AM to 1 AM
    - cron: "*/15 * * * *"          # Every hour outside 3 PM - 1 AM
  workflow_dispatch:             # Allow manual execution

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run Google Colab Notebook
        run: |
          curl -s -X POST "https://colab.research.google.com/drive/1kMkEN2PvQzIk5gI7cxjNnUWT1kokMXnr"

      - name: Commit & Push Updated index.html
        run: |
          git config --global user.email "raparthimahesh5@gmail.com"
          git config --global user.name "MaheshMeru"
          git pull origin main --rebase
          git add index.html
          git commit -m "Auto-update index.html" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/MaheshMeru/Fantasy_Rankings2025.git main

      - name: Deploy to Netlify
        run: |
          curl -X POST -d '{}' "https://api.netlify.com/build_hooks/https://api.netlify.com/build_hooks/67e25ab51d39aaa8b4035a1e"
